#Footer{
    margin-top: 180px;
        .Footer-title1{
            .left-content{
                margin: 12px;
            }
        }
        .Footer-title2{
            margin-top: 60px;
            .left-content{
                margin: 12px;
            }
        }
        .Footer-title3{
            .left-content{
                margin: 12px;
            }
        }
        .Footer-title4{
            .title4-icon{
                img{
                    height: 80px;
                }
            }
        }
}

