.category-post{
    margin-bottom: 100px;
    .category-post-icon{
        img {
            height: 190px;
        }
    }
    .category-post-title{
        span{
            text-align: center;
        }
    }
    .category-post-item{
        margin: 25px 0px;
    }
}