.flash-sale{
    margin-bottom: 100px;
    .flash-sale-icon{
        img {
            height: 190px;
        }
    }
    .flash-sale-title{
        span{
            text-align: center;
        }
    }
}