.reset-password{
    background-image: url('../../../images/Sign-in-up/bg1.jpg');
    .reset-password-left{
        margin-top: 190px;
        h2{
            text-align: center;
        }
        .reset-password-form{
            form {
                margin-left: 165px;
                .form-input{
                    margin: 20px 0px;
                }
                .form-button{
                    button {
                        margin-left: 91px;
                        margin-top: 15px;
                    }
                }
            }
        }
        .reset-password-landing{
            text-align: center;
            .landing{
                margin: 0px 15px;
                a{
                    text-decoration: none;
                    color: black;
                    &:hover{
                        color: #3f51b5;
                    }
                }
            }
        }
        .reset-password-social{
            margin-left: 3px;
            margin-top: 45px;
            .social-button{
                text-align: center;
                margin: 15px 0px;
                .MuiSvgIcon-root{
                    margin: 0px 10px;
                    font-size: 40px;
                }
            }
        }
    }
    .reset-password-right{
        margin-top: 100px;
        .reset-password-background{
            margin-top: 100px;
            margin-right: 21px;
            margin-bottom: 20px;
            img{
                height: 100%;
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}